annotated-types==0.7.0
astroid==3.2.4
attrs==24.2.0
blinker==1.8.2
cfgv==3.4.0
click==8.1.7
Deprecated==1.2.14
dill==0.3.8
distlib==0.3.8
filelock==3.15.4
flasgger==0.9.7.1
Flask==3.0.3
Flask-Limiter==3.8.0
gunicorn==23.0.0
identify==2.6.0
importlib_resources==6.4.4
isort==5.13.2
itsdangerous==2.2.0
Jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
limits==3.13.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mccabe==0.7.0
mdurl==0.1.2
mistune==3.0.2
nodeenv==1.9.1
ordered-set==4.1.0
packaging==24.1
platformdirs==4.2.2
pre-commit==3.8.0
pydantic==2.8.2
pydantic_core==2.20.1
Pygments==2.18.0
pylint==3.2.7
python-dotenv==1.0.1
PyYAML==6.0.2
redis==5.0.8
referencing==0.35.1
rich==13.8.0
rpds-py==0.20.0
six==1.16.0
tomlkit==0.13.2
typing_extensions==4.12.2
virtualenv==20.26.3
Werkzeug==3.0.4
wrapt==1.16.0
